@model List<ManagementApp.Models.EntityFramework.Image>
@{
    ViewBag.Title = "ImageIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0"> My Images</h1>

<br />
@Html.ActionLink("Back to Gallery", "ImageGalleryIndex", "User")
<br />
@Html.ActionLink("Upload a Photo", "ImageUpload", "User", new { @class = "btn btn-primary" })
<hr />

<div id="gallery">
    @foreach (var item in Model)
    {
        <div class="item-container">
            <div class="gallery-item">
                <a href="~/Content/UserImage/@item.ImagePath" target="_blank">
                    <img src="~/Content/UserImage/@item.ImagePath" alt="" />
                </a>
                <div class="description">
                    @item.ImageName
                </div>
                @Html.ActionLink("|", "ImageDelete", new { id = item.Id }, new { @class = "far fa-trash-alt", onclick = "return confirm('Are you sure to delete this Image?')" })
            </div>
        </div>

    }


</div>

