
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
 
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/image.css" rel="stylesheet" />
    <link href="~/Content/table.css" rel="stylesheet" />

</head>
<body>
    @Html.Partial("_Navbar")
    <div class="container">
        @RenderBody()
    </div>


    <script src="~/Scripts/jquery-3.0.0.min.js"></script>

    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
  

    <script src="https://kit.fontawesome.com/3236eba992.js" crossorigin="anonymous"></script>

</body>
</html>
