<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Management App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/MyCv">My CV <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Department">Departments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Personnel">Personnels</a>
            </li>
            @if (User.IsInRole("A"))
            {
                <li class="nav-item">
                    <a class="nav-link" href="/User">Users</a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link" href="/User/ImageGalleryIndex">My Image Gallery</a>
            </li>

            
            <li class="nav-item">
                <a class="nav-link" href="/Security/Logout">Log out</a>
            </li>
        </ul>
    </div>
</nav>
